:root {
  --header-text-color: #757575;
  --background: #2f303a;
  --color-nav: #2196f3;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #757575;
}
.list {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  margin-right: 93px;
}
.accent {
  color: #2196f3;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-list-connect {
  display: flex;
  margin-left: auto;
}

.header-item + .header-item {
  margin-left: 50px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  padding: 32px 0;
}
.header-link:hover,
.header-link:focus {
  color: var(--color-nav);
}
.header-link-mail,
.header-link-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  padding: 30px 0;
}
.header-link-mail:hover,
.header-link-tel:hover,
.header-link-mail:focus,
.header-link-tel:focus {
  color: var(--color-nav);
}
/* main */

.hero {
  background: var(--background);
  padding-top: 200px;
  padding-bottom: 200px;
}
.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}
.btn {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  justify-content: center;
  align-items: center;

  letter-spacing: 0.06em;
  color: #ffffff;
  min-width: 200px;
  height: 50px;
}

.btn-content {
  display: flex;
  justify-content: center;
}

.info-list {
  display: flex;
  justify-content: space-between;
}
.info-item + .info-item {
  margin-left: 30px;
}
.info-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.info-text {
  width: 270px;
  height: 75px;
}

.info-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
}

.action {
  padding-bottom: 94px;
}

.action-list {
  display: flex;
}

.action-item + .action-item {
  margin-left: 30px;
}

.action-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
/*----------------Наша команда------------------*/
.team {
  background: #f5f4fa;
}
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item + .team-item {
  margin-left: 30px;
}

.team-name-content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
.team-position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
}
/*-------------FOOTER---------------*/
.footer {
  background: var(--background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo-content {
  margin-bottom: 20px;
}
.footer-logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer-accent {
  color: #ffffff;
}

.footer-item:nth-child(-n + 2) {
  margin-bottom: 9px;
}

.footer-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-link-mail,
.footer-link-tel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}
.footer-link-mail:hover,
.footer-link-tel:hover,
.footer-link:hover,
.footer-link-mail:focus,
.footer-link-tel:focus,
.footer-link:focus {
  color: var(--color-nav);
}
/*------------------------- Портфолио------------------------------- */
.prtf-list-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.prtf-item-btn + .prtf-item-btn {
  margin-left: 8px;
}

.prtf-btn {
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 6px 22px;
}

.prtf-btn:hover,
.prtf-btn:focus {
  background: #2196f3;
  color: #ffffff;
  border: none;
}

.prtf-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.prtf-item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  background: #ffffff;
}

.prtf-item:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.prtf-title-content {
  padding: 20px 24px;
  background: #ffffff;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.prtf-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.prtf-text {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
